* {
  margin: 0;
  padding: 0;
}



.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form .form__custom-button {
  margin-top: 50px;
}
a{
  text-decoration: none;
  color: white;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid #e7195a;
}

.chatComp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}